In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [10]:
# A dictionary of high schools and the type of school.
high_school_types =[{"High School":"Griffin","Type":"District"},
                    {"High School":"Figueroa","Type":"Distric"},
                    {"High School":"Wilson","Type":"Charter"},
                    {"High School":"Wright","Type":"Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'Distric'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
# Add the Pandas dependency.
import pandas as pd

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [14]:
school_series=pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [18]:
# Add the Pandas dependency.
import pandas as pd
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name=["Huang High School","Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school=["District", "District", "Charter", "District","Charter"]

In [25]:
# Initialize a new DataFrame.
schools_df=pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school name"]=school_name
schools_df["type_of_school"]=type_of_school

# Print the DataFrame.
schools_df

   School ID            school name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [26]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [27]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)